@font-face {
    font-family: "InterRegular";
    src: local("Inter"), 
         local("Inter-Regular"), 
         url("/assets/fonts/Inter-regular.woff2") format("woff2");
}

@font-face {
    font-family: "InterMedium";
    src: local("Inter"), 
         local("Inter-Medium"), 
         url("/assets/fonts/Inter-regular.woff2") format("woff2");
}

@font-face {
    font-family: "InterLight";
    src: local("Inter"), 
         local("Inter-Light"), 
         url("/assets/fonts/Inter-regular.woff2") format("woff2");
}

@font-face {
    font-family: "InterBolditalic";
    src: local("Inter"), 
         local("Inter-Bolditalic"), 
         url("/assets/fonts/Inter-regular.woff2") format("woff2");
}

@font-face {
    font-family: "InterBold";
    src: local("Inter"), 
         local("Inter-Bold"), 
         url("/assets/fonts/Inter-regular.woff2") format("woff2");
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: url("images/background.jpg") ;
    color: #ffffff;
    font-family: "InterMedium";
}

a {
    color: #ffffff;
    font-family: "InterLight";
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

div.site-header__wrapper {
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width:80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a.neural_network_text {
    float: right;
}

div.vizualisation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 800px;
    margin: auto;
    padding-top: 30px;
    border-radius: 30px;
}

div.vizualisation :nth-child(1) {
    font-family: "InterBolditalic";
    font-size: 80px;
    color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(to right, #F83A3A, #F13DD4, #7000FF);
}

div.vizualisation :nth-child(2) {
    font-family: "InterBold";
    font-size: 58px;
}

div.vizualisation :nth-child(3) {
    font-family: "InterRegular";
    opacity: .6;
    font-size: 20px;
}

div.vizualisation :nth-child(4) {
    font-family: "InterRegular";
    opacity: .6;
    font-size: 20px;
}

div.first_algo_div {
    border: 2px solid rgba(143, 141, 145, 0.2);
    background: rgba(255, 255, 255, 0.1);
    width: 90%;
    height: 800px;
    margin: auto;
    padding-top: 30px;
    border-radius: 30px;
}