@font-face {
    font-family: "InterRegular";
    src: local("Inter"), 
         local("Inter-Regular"), 
         url("/assets/fonts/Inter-regular.woff2") format("woff2");
}

@font-face {
    font-family: "InterMedium";
    src: local("Inter"), 
         local("Inter-Medium"), 
         url("/assets/fonts/Inter-regular.woff2") format("woff2");
}

@font-face {
    font-family: "InterLight";
    src: local("Inter"), 
         local("Inter-Light"), 
         url("/assets/fonts/Inter-regular.woff2") format("woff2");
}

img.background {
    min-height: 100%;
    min-width: 640px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
  
    /* Зависит от размера изображения */
    @media screen and (max-width: 640px){
      img.bg {
        left: 50%;
        margin-left: -320px;
      }
    }
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: #05010D;
    color: #ffffff;
    font-family: "InterMedium";
}

a {
    color: #ffffff;
    font-family: "InterLight";
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

div.site-header__wrapper {
    position: sticky;
    top: 0;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.brand {
    font-family: "InterRegular";
    width: 115px;
    padding: 10px;
    border: 2px solid linear-gradient(to bottom right, rgb(255, 91, 55), rgb(171, 0, 82));
    background: linear-gradient(to bottom right, rgba(255, 91, 55, 0.6), rgba(171, 0, 82, 0.6));
    color: linear-gradient(to bottom right, rgba(255, 91, 55, 1), rgba(171, 0, 82, 1));
    border-radius: 15px;
    -moz-border-radius: 15px;
}

a.neural_network_text {
    float: right;
}

div.main_info {
    width: 90%;
    height: 300px;
    margin: auto;
    padding-top: 30px;
    border-radius: 30px;
}

div.first_algo_div {
    background: linear-gradient(to bottom right, #FF5B37, #AB0052);
    width: 90%;
    height: 800px;
    margin: auto;
    padding-top: 30px;
    border-radius: 30px;
    background: #f5023D;
}