@font-face {
    font-family: "InterRegular";
    src: local("Inter"), 
         local("Inter-Regular"), 
         url("/assets/fonts/Inter-regular.woff2") format("woff2");
}

@font-face {
    font-family: "InterMedium";
    src: local("Inter"), 
         local("Inter-Medium"), 
         url("/assets/fonts/Inter-regular.woff2") format("woff2");
}

@font-face {
    font-family: "InterLight";
    src: local("Inter"), 
         local("Inter-Light"), 
         url("/assets/fonts/Inter-regular.woff2") format("woff2");
}

@font-face {
    font-family: "InterBolditalic";
    src: local("Inter"), 
         local("Inter-Bolditalic"), 
         url("/assets/fonts/Inter-regular.woff2") format("woff2");
}

@font-face {
    font-family: "InterBold";
    src: local("Inter"), 
         local("Inter-Bold"), 
         url("/assets/fonts/Inter-regular.woff2") format("woff2");
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: url("images/background.jpg"), #05020D;
    background-repeat: no-repeat;
    color: #ffffff;
    font-family: "InterMedium";
}

div.site-header__wrapper {
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width:80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    color: #ffffff;
    font-family: "InterLight";
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

button {
    float: left;
    width: 100%; 
    height: 100%;
    font-family: "InterRegular";
    font-size: 40px;
    color: #FFFFFF;
    border-radius: 15px;
    border: none;
    background-color: rgba(93, 90, 98, 1);;
}

button:hover {
    background: rgba(93, 90, 98, 0.5);
    border-radius: 15px;
    border: 2px solid rgba(255, 255, 255, 0.2);
}

button:active {
    background: rgba(93, 90, 98, 0.75);
    border-radius: 15px;
    border: 2px solid rgba(255, 255, 255, 0.2);
}

img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 35px;
    width: 90%;
    height: 100%;
    margin: auto;
    border-radius: 30px;
}

canvas {
    border: 2px solid rgba(143, 141, 145, 0.2);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
}

input[type="range"] {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    display: table-cell;
    vertical-align: middle;
    background: rgba(255, 255, 255, 0.3);
}

div.main_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 700px;
    margin: auto;
    padding-top: 30px;
    border-radius: 30px;
}

div.main_text :nth-child(2) {
    font-family: "InterBold";
    font-size: 58px;
}

div.main_text :nth-child(3) {
    font-family: "InterRegular";
    opacity: .6;
    font-size: 20px;
}

div.main_text :nth-child(4) {
    font-family: "InterRegular";
    opacity: .6;
    font-size: 20px;
}

div.algorithm_name {
    padding-top:10%;
    height: 200%;
    display: flex;
    margin: auto;
    width: 90%;
}

p.italic_text {
    font-family: "InterBolditalic";
    font-size: 80px;
    color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(to right, #F83A3A, #F13DD4, #7000FF);
}

div.algo_div {
    display: flex;
    margin: 30px;

    width: 90%;
    height: 700px;
    margin: auto;
    
    padding-top: 30px;
}

div.info {
    width: 100%;
    display: flex;
    margin-left: 30px;
    flex-direction: column;
}

div.image {
    float: left;
    height: 75%;
    border: 2px solid rgba(143, 141, 145, 0.2);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
}

div.predict {
    float: left;
    height: 80%;
    margin-top: 30px;
    border: 2px solid rgba(143, 141, 145, 0.2);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 30px;

    font-family: "InterBold";
    font-size: 45px;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

div.received_data {
    height: 60%;
    display: flex;
    padding: 10%;
    border: 2px solid rgba(143, 141, 145, 0.2);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    flex-direction: column;
    justify-content: space-around;
}

div.data_choising {
    height: 200%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

div.received_data.number_of_classes {
    font-family: "InterBold";
    font-size: 45px;
}

div.range_info_div {
    color: #ffffff;
    font-family: "InterLight";
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
}

div.range_info_div.label {
    color: #ffffff;
    font-family: "InterLight";
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

div.range_div {
    display: flex;
}

input#K_range {
    accent-color: #F63A62;
}

input#epsilon_range {
    accent-color:  #E437D8;
}

input#distance_range {
    accent-color: #7201FE;
}

p.number_of_classes {
    font-size: 25px;
}

div.button {
    margin-bottom: 20px;
    float: left;
    height: 20%;
    border-radius: 30px;
}

#claster_button {
    margin-bottom: 0px;
    margin-top: 30px;
}